.Card{
    .Count-text{
        margin-top: 40px;
        margin-left: 100px;
        color: black;
        font-size: 70px;
        font-weight: 900;
        background: none;
        border:none;
    }
    .Button-Section{
        margin-bottom: 20px;
        margin-top: 5%;
        padding-left: 95px;
    }
}